<!DOCTYPE html>
<html class="no-js" ng-app="gup">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Map</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
	<base href="/">

        <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700' rel='stylesheet' type='text/css'>
	<!-- css -->
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
        <link rel="stylesheet" href="styles/css/screen.css">

	<!-- vendor includes -->        
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
	<!-- jquery and plugins -->
	<script src="http://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script src="scripts/vendor/jquery.mousewheel.js"></script>
        <script src="scripts/vendor/sly.js"></script>
        <script src="scripts/vendor/moment.min.js"></script>

	<!-- leaflet -->
	<script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js" type="text/javascript"></script>
	
	<!-- angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
	<script src="scripts/vendor/angular-cookies.min.js"></script>
	<script src="scripts/vendor/angular-resource-tastypie.js"></script>
	<script src="scripts/vendor/http-auth-interceptor.js"></script>

	<!-- Common -->
	<script src="scripts/lib/common/controllers.js"></script>
	<script src="scripts/lib/common/filters.js"></script>
	
	<!-- Map module -->
	<script src="scripts/lib/map/services.js"></script>
	<script src="scripts/lib/map/controllers.js"></script>
	<script src="scripts/lib/map/directives.js" type="text/javascript"></script>
	
	<!-- main app -->
	<script src="scripts/app.js"></script>

    <script>
        $(document).ready(function(){
            $('.add-panel-block').hide();
            $('#toolbar .temp a').click(function(){
                panel = $(this).attr('href');
                console.log(panel);
                $('.add-panel-block').hide();
                $(panel).show().css('right',0);
            });
        })
    </script>
    </head>
    <body>
        <div id="page">
            <!-- Définition des masques svg pour les illustrations -->
            <svg height="184" width="248" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask1">
                    <image width="248" height="184" xlink:href="images/mask.png"></image>
                </mask>
            </svg>
            <!--
            <svg height="282" width="378" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask2">
                    <image width="378" height="282" xlink:href="images/mask_big.png"></image>
                </mask>
            </svg>-->
            <!-- Fin de définition -->

	    <!-- background map -->
	    <div ng-controller="MapDetailCtrl">
	      <leaflet markers="markers" tilelayers="tilelayers" id="background-map"></leaflet>
	    </div>

	    <!-- overlay panel app -->
	    <div id="overlay-panel" ng-view>
	    </div>

        <!-- left sidebar -->
        <div id="toolbar">
            <ul>
                <li class="item1"><a href="#">Accueil</a></li>
                <li class="item2"><a href="#">Ajouter</a></li>
                <li class="item3"><a href="#">Rechercher</a></li>
                <li class="item4"><a href="#">Sélection</a></li>
                <li class="item5"><a href="#">Discussions</a></li>
                <li class="temp">
                    <a href="#add-block-1">1</a>
                    <a href="#add-block-2">2</a>
                    <a href="#add-block-3">3</a>
                    <a href="#add-block-4">4</a>
                </li>
            </ul>
        </div>

	    <!-- right sidebar -->
	    <!--<div id="sidebar">
	      <section id="default-panel">
    		<h1>MAP</h1>
    		<div class="actions">
    		  <a href="/marker/detail/1">Signaler un problème</a>
    		  <a href="/marker/new">Ajouter un point d'intêret</a>
    		</div>

    		<!-- login -->
    		<!--<form name="loginForm" ng-submit="submit()" ng-controller="LoginCtrl">
    		  <input type="text" ng-model="username" required>
    		  <input type="password" ng-model="password" required>
    		  <button>Login</button>
    		</form>
          </section>
	    </div>-->

        <!-- ADD disabled class on add-panel-block to activate the overlay -->
        <div id="add-panel">
            <section id="add-block-1" class="add-panel-block">
                <div class="disabled-overlay">&nbsp;</div>
                <h1>    
                    <img src="images/steps/1.png" alt="1/4" />
                    <span>Qualifiez votre<br /> point d'intérêt</span>
                </h1>
                <div class="points-list">
                    <ul>
                        <li class="categ">
                            <div class="top"><a href="#">Les plus utilisés</a></div>
                            <div class="inner">
                                <ul>
                                    <li class="point1"><a href="#">Point 1</a></li>
                                    <li class="point2"><a href="#">Point 2</a></li>
                                    <li class="point3"><a href="#">Point 3</a></li>
                                    <li class="point4"><a href="#">Point 4</a></li>
                                    <li class="point1"><a href="#">Point 1</a></li>
                                    <li class="point2"><a href="#">Point 2</a></li>
                                    <li class="point3"><a href="#">Point 3</a></li>
                                    <li class="point4"><a href="#">Point 4</a></li>
                                    <li class="point1"><a href="#">Point 1</a></li>
                                    <li class="point2"><a href="#">Point 2</a></li>
                                    <li class="point3"><a href="#">Point 3</a></li>
                                    <li class="point4"><a href="#">Point 4</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul> 
                    <div class="seemore">
                        <a href="#">Voir tous les points</a>
                    </div>
                </div>
            </section>

            <section id="add-block-2" class="add-panel-block">
                <div class="disabled-overlay">&nbsp;</div>
                <h1>    
                    <img src="images/steps/2w.png" alt="2/4" />
                    <span>Ajouter votre<br /> photo ou vidéo</span>
                </h1>
                <div class="photo-widget">
                   <ul>
                        <li><a href="#">Prendre une photo</a></li>
                        <li><a href="#">Accéder à votre galerie</a></li>
                   </ul>
                </div>
                <div class="skippy">
                    <a href="#">Passer cette étape</a>
                </div>
                <!--<div class="photo-selected">
                    <div class="preview">
                        <img src="images/_TEMP/photo.jpg" alt="" />
                    </div>
                    <a href="#" class="trash"><img src="images/trash_bt.png" alt="effacer" /></a>
                </div>-->
            </section>

            <section id="add-block-3" class="add-panel-block">
                <div class="disabled-overlay">&nbsp;</div>
                <h1>    
                    <img src="images/steps/3.png" alt="3/4" />
                    <span>Entrez votre<br /> titre et description</span>
                </h1>
                <div class="info-form">
                    <form method="post" action="#">
                        <input type="text" name="title" placeholder="Titre de votre poi ..." />
                        <textarea name="desc" placeholder="Description de votre poi"></textarea>
                        <a href="#" class="locate">Localiser votre Poi</a>
                    </form>
                </div>
            </section>

            <section id="add-block-4" class="add-panel-block">
                <div class="disabled-overlay">&nbsp;</div>
                <h1>    
                    <img src="images/steps/4.png" alt="4/4" />
                    <span>Localisez<br /> votre Point</span>
                </h1>
                <div class="adress-form">
                    <div class="adress-find">
                        <a class="find1" href="#">Entrez l'adresse</a> <span>ou</span>
                        <a class="find2" href="#">Déplacez le point</a> <span>ou</span>
                        <a class="find3" href="#">Géolocalisez- vous</a>
                    </div>
                    <form method="post" action="#">
                        <p>
                            <input type="text" name="title" placeholder="Adresse du point ..." />
                            <a href="#" class="search"><img src="images/adress_search.png" alt="Chercher" /></a>
                        </p>
                        <a href="#" class="valid">Valider la position</a>
                    </form>
                </div>
            </section>
        </div>
	    

        </div>
        <!--
        <footer>
            <nav>
                <ul>
                    <li><a href="javascript:void(0)">Menu 1</a></li>
                    <li><a href="javascript:void(0)">Menu 2</a></li>
                    <li><a href="javascript:void(0)">Menu 3</a></li>
                    <li><a href="javascript:void(0)">Menu végé</a></li>
                </ul>
            </nav>
        </footer>
        -->
    </body>
</html>

