<div  ng-controller="MapMyMapsCtrl">
  <div id="intercalar">
    <span class="caption">Sélectionnez une carte</span>
  </div>
  <div id="intercalar-panel" class="map-mymaps-panel">
     <a class="close-link" ui-sref="map">Fermer</a>
     <h1>    
      <img src="images/mymaps_ico_big.png" alt="" />
      <strong>Sélectionnez<br /> votre carte</strong>
      <span>Cette liste contient les différentes cartes<br /> auxquelles vous avez accès.</span>
    </h1>
    <form ng-show="!isLoading">
      <ul>
      	<li ng-repeat="map in maps">
                <a ui-sref="map({slug: map.slug})">{{ map.name }}</a>
      	</li>
      </ul>
    </form>
    <div class="loading-panel" ng-show="isLoading">
      <p>
        <img src="images/loading/eolilala.png" class="spin" />
        <span>un instant, nous chargeons vos contenus...</span>
      </p>
    </div>
  </div>
</div>
