<!-- ADD disabled class on add-panel-block to activate the overlay -->
<div id="intercalar" ng-switch="wizard.step">
  <ul>
    <li class="loc"><button title="Localisation" ng-click="wizard.step=1">1 : Localisation</button></li>
    <li class="quali"><button title="Qualification" ng-disabled="!marker.position.coordinates" ng-click="wizard.step=2">2 : Qualification</button></li>
    <li class="photo"><button title="Photo" ng-disabled="!marker.category" ng-click="wizard.step=3">3 : Photo</button></li>
    <li class="desc"><button title="Description" ng-disabled="!marker.category" ng-click="wizard.step=4">4 : Description</button></li>
  </ul>

  <span class="caption" ng-switch-when="1">Localisez votre point d'intêret</span>
  <span class="caption" ng-switch-when="2">Qualifiez votre point d'intêret</span>
  <span class="caption" ng-switch-when="3">Ajoutez une photo ou vidéo</span>
  <span class="caption" ng-switch-when="4">Entrez votre description</span>
</div>

<div id="intercalar-panel">
  <ng-form name="new_marker_form">

    <div ng-switch="wizard.step">
    <!-- location -->
      <section id="add-block-1" class="add-panel-block" ng-switch-when="1">
        <a class="close-link" ui-sref="map">Fermer</a>
        <h1>
          <img src="images/steps/1.png" alt="1/4" />
          <strong>Localisez<br /> votre Point d'intérêt</strong>
          <span>Entrez une adresse, placez ou géolocalisez-vous<br /> pour définir la position du point</span>
        </h1>
        <div class="adress-form">
            <div class="find find1">
              <form action="javacript:void(0)" method="post">
                <label for="adress-field">Entrez l'adresse</label>
                <input type="text" name="address" ng-model="marker.address" placeholder="Adresse du point ..." />
                <button type="submit" ng-click="lookupAddress()" class="search2"><img src="images/adress_search.png" alt="Chercher" /></button>
              </form>
            </div>
            <div class="find find2">
                <span>Géolocalisez-vous</span>
                <button ng-click="geolocateMarker()" class="search1">Géolocalisez-vous </button>
            </div>
            <div class="find find3">
                <span>Placer le point sur la carte</span>
                <em>Déplacez le point à l'endroit souhaité sur la carte.</em>
            </div>
            <div class="adress-block">
             {{ marker.address }}
            </div>
            <button ng-disabled="!marker.position.coordinates" ng-click="wizard.step=2" class="valid">Valider la position</button>
        </div>
        <div class="little-arrow">&nbsp;</div>
      </section>


      <!-- category -->
      <section id="add-block-2" class="add-panel-block" ng-switch-when="2">
        <a class="close-link" ui-sref="map">Fermer</a>
        <div class="loading-panel" ng-show="marker_categories_loading">
          <p>
            <img src="images/loading/eolilala.png" class="spin" />
            <span>un instant, nous chargeons vos contenus...</span>
          </p>
        </div>
        <h1>
          <img src="images/steps/2.png" alt="2/4" />
          <strong>Qualifiez<br />  votre point d'intérêt</strong>
          <span>Séléctionnez la nature du point<br /> dans les listes ci-dessous</span>
        </h1>
        <div class="content-tabs">
            <ul class="tabs">
                <li class="active"><a href="#points-list">Choisissez une catégorie</a></li>
                <!--<li><a href="#">Tous les points</a></li>-->
            </ul>
            <!-- BLOC POINTS FREQUENTS -->
            <div class="points-list">
              <div ng-show="!marker_categories_loading">
                <div class="inner">
                  <ul>
                    <li ng-repeat="cat in marker_categories" class="category">
                      <input type="radio" ng-change="wizard.step = 3" ng-model="marker.category" value="{{ cat.resource_uri }}" id="{{ cat.id }}" />
                      <label for="{{ cat.id }}">
                        <div class="amazing-marker {{ cat.marker_color }}">
                          <i class="fa fa-{{ cat.icon_name }} icon-{{ cat.icon_color }}"></i>
                        </div>
                        <span>{{ cat.name }}</span>
                      </label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- BLOC POINTS PAR CATEGORIES -->
            <!--<div class="points-list-categ" style="display:none">
              <ul ng-show="!marker_categories_loading">
                <li class="categ">
                  <div class="top">Intêret</div>
                  <div class="inner">
                    <ul>
                      <li ng-repeat="cat in marker_categories" class="category">
                        <input type="radio" name="category" ng-click="wizard.step = 3" ng-model="marker.category" ng-value="{{ cat.id }}" id="cat{{ cat.id }}" />
                        <label for="cat{{cat.id}}">{{ cat.name }}</label>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>-->
        </div>
        <div class="little-arrow">&nbsp;</div>
      </section>

      <!-- picture -->
      <section id="add-block-3" class="add-panel-block" ng-switch-when="3">
        <a class="close-link" ui-sref="map">Fermer</a>
        <div class="loading-panel" ng-show="isUploading">
          <p>
            <img src="images/loading/eolilala.png" class="spin" />
            <span>Veuillez patienter pendant l'envoi de votre image...</span>
          </p>
        </div>
        <h1>
          <img src="images/steps/3.png" alt="3/4" />
          <strong>Ajoutez<br />  une photo ou vidéo</strong>
          <span>Prenez une photo / vidéo ou sélectionnez-en une<br /> dans votre répertoire</span>
        </h1>

        <!-- picture upload -->
        <div ng-hide="uploads.picture" class="photo-widget">
          <div class="wrap-widgets">
            <ul>
              <!-- <li><button ng-click="grabCamera()">Prendre une photo</button></li> -->
              <li>
          <div id="picture-file">Cliquez ici pour ajouter une photo</div>
    	    <input type="file" ng-file-select="onFileSelect($files)" image="uploads.picture" resize-max-height="300" resize-max-width="250" resize-quality="0.7"  accept="image/*;capture=camera" name="picture"></input>
    	  </li>
            </ul>
          </div>
          <div class="skippy">
    	        <button ng-click="wizard.step=4">Passer cette étape</button>
          </div>
        </div>

        <!-- picture preview -->
        <div ng-show="uploads.picture" class="photo-selected">
            <div class="preview">
              <img ng-src="{{uploads.picture.resized.dataURL}}" id="selected-photo" alt="preview" />
            </div>
            <button ng-click="pictureDelete()" class="trash"><img src="images/trash_bt.png" alt="effacer" /></button>
            <button ng-click="wizard.step=4" class="accept">Valider et continuer</button>
        </div>

        <!-- picture being taken -->
        <div ng-show="captureInProgress" class="photo-selected">
            <div class="preview">
    	  <video id="video"></video>
    	  <canvas id="canvas"></canvas>
            </div>
            <button ng-click="cancelGrabCamera()" class="discard">Annuler</button>
            <button ng-click="takePicture()" class="accept">Valider</button>
        </div>
        <div class="little-arrow">&nbsp;</div>
      </section>

      <!-- info -->
      <section id="add-block-4" class="add-panel-block" ng-switch-when="4">
        <a class="close-link" ui-sref="map">Fermer</a>
        <div class="loading-panel" ng-show="isUploading">
          <p>
            <img src="images/loading/eolilala.png" class="spin" />
            <span>Veuillez patienter pendant l'envoi de votre image...</span>
          </p>
        </div>
        <h1>
          <img src="images/steps/4.png" alt="4/4" />
          <strong>Entrez<br />  votre description</strong>
          <span>Donnez un titre à votre point d'intérêt et entrez <br />votre description</span>
        </h1>
        <div class="info-form">
          <ng-form name="infoForm">
            <input type="text" name="title" ng-model="marker.title" placeholder="Titre de votre poi ..." required/>
            <textarea name="desc" ng-model="marker.description" placeholder="Description de votre poi" required></textarea>
            <button ng-click="submitForm()" ng-disabled="!infoForm.$valid">Finaliser le point</button>
          </ng-form>
        </div>
        <div class="little-arrow">&nbsp;</div>
      </section>
    </div>
  </ng-form>
</div>
<script type="text/javascript">
    //$('.add-panel-block').hide();
    $('#toolbar .temp a').click(function(){
      panel = $(this).attr('data-target');
      $('.add-panel-block').hide();
      $(panel).show();
    });
</script>
