<div class="map-welcome-panel">
  <div id="intercalar">
    <span class="caption">Bienvenue</span>
  </div>
    <div id="intercalar-panel" class="map-bg-panel">
      <h1>    
        <img src="images/toolbar/home.png" alt="" />
        <strong>Bienvenue sur votre nouvelle carte</strong>
      </h1>
      <p>
        Vous trouverez sur la <strong>barre de gauche</strong> les actions vous permettant de <strong>configurer votre carte</strong> et y <strong>ajouter des lieux</strong>.<br/><br/>
	Si vous souhaitez découvrir le fonctionnement vidéo, nous vous invitons à suivre ce didacticiel :<br/><br/>
	<iframe src="//player.vimeo.com/video/24992100" width="400" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </p>
    </div>
</div>
