<div class="map-welcome-panel">
  <div id="intercalar">
    <span class="caption">Bienvenue</span>
  </div>
    <div id="intercalar-panel" class="map-bg-panel">
      <h1>    
        <img src="images/toolbar/home.png" alt="" />
        <strong>Bienvenue<br /> sur votre nouvelle carte</strong>
        <span>Mettez vous en chaussettes, détendez-vous,<br /> prenez un maximum de plaisir</span>
      </h1>
      <p>
        bla bla blablabla bla bla blablabla bla bla blablabla bla bla blablabla bla bla blablabla bla bla blablabla 
        bla bla blablabla bla bla blablabla 
        bla bla blablabla bla bla blablabla bla bla blablabla bla bla blablabla bla bla blablabla bla bla blablabla 
        bla bla blablabla bla bla blablabla bla bla blablabla bla bla blablabla 
        bla bla blablabla bla bla blablabla bla bla blablabla bla bla blablabla 
      </p>
    </div>
</div>