<div id="intercalar" ng-controller="MapTileLayersCtrl">
  <div id="intercalar-panel">
    <h1>Choisissez votre fond de carte</h1>
    <form>
      <ul>
	<li ng-repeat="layer in available_layers">
	  <input type="radio" name="bg_layer" ng-value="{{ $index }}" ng-model="form.selected_layer" id="{{ $index }}">
	  <img ng-src="{{ layer.url_template|sample_tile }}" width="128" height="128" alt="{{ layer.name }}">
          <label for="{{ $index }}">{{ layer.name }}</label>
	  <em>{{ layer.attribution }}</em>
	</li>
      </ul>
    </form>
  </div>
</div>
