<div id="intercalar" ng-controller="MapShareCtrl">
  <span class="caption">Ajustez le niveau de partage</span>
</div>
  <div id="intercalar-panel" class="map-share-panel">
    <a class="close-link" ui-sref="map">Fermer</a>
    <h1>    
      <img src="images/share_ico.png" alt="" />
      <strong>Choisissez le niveau<br /> de partage de cette carte</strong>
      <span>Attention, si ces données sont confidentielles<br /> partagez avec précaution</span>
    </h1>
    
    <ul>
      <li>
	<input type="radio" name="security" ng-value="readonly" ng-model="form.security" id="readonly"/>
        <label for="readonly">Consultatif</label><br />
	<em>Vous seul pouvez configurer la carte et ajouter des éléments.</em>
      </li>

      <li>
	<input type="radio" name="security" ng-value="contributive" ng-model="form.security" id="contributive"/>
        <label for="contributive">Contributif</label><br />
	<em>Vous seul pouvez configurer la carte mais chacun peut ajouter des éléments.</em>
      </li>


      <li>
	<input type="radio" name="security" ng-value="public" ng-model="form.security" id="public"/>
        <label for="public">Publique</label><br />
	<em>Tout le monde peut configurer la carte et ajouter des éléments.</em>
      </li>

    </ul>

    <p>
      Pour partager cette carte, envoyez ce lien :
      <input type="text" length="125" value="{{ $location.protocol() + '://' + $location.host() + '/' + $state.href('map', {'map': map.slug}) }}"/>
    </p>

  </div>

