<div id="map-search">
	<div class="container">
		<ng-form name="form">
			<div class="title">
				<h1>Recherche</h1>
				<em>Commencez à écrire...</em>
			</div>
			<button ng-click="geolocate()" class="geoloc">Géolocalisez-vous</button>
			<input type="text" ng-model="form.address" id="search-field" name="search-field" autofocus="autofocus" />
			<button type="submit" ng-click="lookupAddress()">Rechercher</button>

			<!--
			<ul class="results">
				<li><a href="#">Mon slip</a><span>, est confortable</span></li>
				<li><a href="#">Mon slip</a><span>, est doux comme du gouda</span></li>
				<li><a href="#">Mon slip</a><span>, est beau comme du nougat</span></li>
			</ul>
			-->
		</ng-form>
	</div>
	<a ui-sref="map" class="close-link">Fermer</a>
</div>

<script type="text/javascript">
	$('#search-field').focus();
</script>
