<div id="topbar">
	<div class="wrap">
		<button ng-hide="username" ng-click="forceLogin()">Se connecter</button>
		<button ng-show="username" ui-sref="index.my_maps">{{ username }}</button>
	</div>
</div>
<section id="creamap">
	<div class="intro">
		<h1>Bienvenue sur l'application Cartes</h1>
		<p>
			Ce logiciel vous permettra de créer et de gérer les problématiques de vos citoyens par l'intermédiaire d'une carte géographique
		</p>
	</div>
	<h2>Entrez le nom de votre carte</h2>
	<form>
		<p>
		  <label for="url-field">{{ $location.absUrl() }}/</label>
		  <input id="url-field" ng-model="form.name" type="text" />
		</p>
	  	<button ng-click="create()">Créez votre carte</button>
	</form>


	<!-- overlay panel app -->
	<div id="overlay-panel" ui-view>
	</div>

</section>
