<!-- background map -->
<div>
  <leaflet center="MapService.center" tilelayer="MapService.tilelayer" id="background-map">
    <div ng-repeat="marker in MapService.markers">
      <leaflet-marker marker="marker">
	<div ng-include src="'views/map/marker_card.html'"></div>
      </leaflet-marker>
    </div>
  </leaflet>
  
</div>

<!-- left sidebar -->
<div id="toolbar">
  <ul>
    <li class="item item-search"><button ui-sref="map.search">Rechercher</button></li>
    <li class="item item-addpoi"><button ui-sref="map.marker_new">Ajouter Point</button></li>
    <li class="item item-layers"><button ui-sref="map.layers">Fond de carte</button></li>
    <li class="item item-share"><button ui-sref="map.share">Partage</button></li>
    <li class="item item-setcenter" ng-controller="MapSettingsCtrl"><button ng-click="set_center()">Recadrer</button></li>
    <li class="item item-mymaps"><button ui-sref="map.my_maps">Mes cartes</button></li>
    <li class="connected">
      <a ng-toggle="" href="javascript:void(0)"><img src="images/toolbar/connected_ico.png" alt="" /></a>
    </li>
  </ul>
</div>

<div id="item-position" ng-class="{'locked': positionLocked}">
  <button ng-click="toggleLockPosition()">Position</button>
</div>

<!-- overlay panel app -->
<div id="overlay-panel" ui-view>
</div>

 <div class="loading-panel" ng-show="isGeolocating">
  <p>
    <img src="images/loading/satililalou.png" class="blocked" />
    <span>Geolocalisation en cours...</span>
  </p>
 </div>

 <!-- Logout panel -->
 <div id="connected-user-block">
    <strong>{{ username }}</strong>
    <button ng-click="logout()">Déconnexion</button>
    <span class="little-arrow">&nbsp;</span>
 </div>

 <div class="loading-panel" ng-show="isLoading">
  <p>
    <img src="images/loading/satililalou.png" class="blocked" />
    <span>un instant, nous chargeons votre carte...</span>
  </p>
</div>
