<!-- ADD disabled class on add-panel-block to activate the overlay -->
<div id="add-panel">
  <ng-form ng-switch="wizardStep" name="new_marker_form" data-ng-animate="'wave'">

  <!-- category -->
  <section id="add-block-1" class="add-panel-block" ng-switch-when="category">
    <div class="disabled-overlay">&nbsp;</div>
    <h1>    
      <img src="images/steps/1.png" alt="1/4" />
      <span>Qualifiez votre<br /> point d'intérêt</span>
    </h1>
    <div class="points-list">
      <ul>
        <li class="categ">
          <div class="top"><a href="#">Les plus utilisés</a></div>
          <div class="inner">
            <ul>
              <li ng-repeat="cat in [1, 2, 3, 4, 5]" class="category">
		<input type="radio" name="category" ng-click="$parent.$parent.wizardStep = wizardSteps[1]" ng-model="marker.category" ng-value="{{ cat }}" id="cat{{ cat }}" />
		<label for="cat{{cat}}">Cat {{ cat }}</label>
	      </li>
            </ul>
          </div>
        </li>
      </ul> 
      <div class="seemore">
        <a href="#">Voir tous les points</a>
      </div>
    </div>
  </section>

  <!-- picture -->
  <section id="add-block-2" class="add-panel-block" ng-switch-when="picture">
    <div class="disabled-overlay">&nbsp;</div>
    <h1>    
      <img src="images/steps/2w.png" alt="2/4" />
      <span>Ajouter votre<br /> photo ou vidéo</span>
    </h1>

    <!-- picture upload -->
    <div ng-show="!captureInProgress && !previewInProgress" class="photo-widget">
      <div class="wrap-widgets">
        <ul>
          <!-- <li><button ng-click="grabCamera()">Prendre une photo</button></li> -->
          <li><input type="file" accept="image/*;capture=camera" name="picture" onchange="angular.element(this).scope().pictureChanged(this)"></input></li>
        </ul>
      </div>
      <div class="skippy">
	<button ng-click="$parent.wizardStep = wizardSteps[2]">Passer cette étape</button>
      </div>
    </div>

    <!-- picture preview -->
    <div ng-show="previewInProgress" class="photo-selected">
        <div class="preview">
          <img src="images/_TEMP/photo.jpg" id="selected-photo" alt="preview" />
        </div>
        <button ng-click="pictureDelete()" class="trash"><img src="images/trash_bt.png" alt="effacer" /></button>
        <button ng-click="$parent.wizardStep = wizardSteps[2]" class="accept"><img src="images/OK_bt.png" alt="valider" /></button>
    </div>

    <!-- picture being taken -->
    <div ng-show="captureInProgress" class="photo-selected">
        <div class="preview">
	  <video id="video"></video>
	  <canvas id="canvas"></canvas>
        </div>
        <button ng-click="cancelGrabCamera()" class="discard">Annuler</a>
        <button ng-click="takePicture()" class="accept">Valider</button>
    </div>
  </section>

  <!-- info -->
  <section id="add-block-3" class="add-panel-block" ng-switch-when="info">
    <div class="disabled-overlay">&nbsp;</div>
    <h1>    
      <img src="images/steps/3.png" alt="3/4" />
      <span>Entrez votre<br /> titre et description</span>
    </h1>
    <div class="info-form">
      <ng-form name="infoForm">
        <input type="text" name="title" ng-model="marker.title" placeholder="Titre de votre poi ..." required/>
        <textarea name="desc" ng-model="marker.description" placeholder="Description de votre poi" required></textarea>
        <button ng-click="$parent.wizardStep = wizardSteps[3]" ng-disabled="!infoForm.$valid" class="locate">Localiser votre Poi</button>
      </ng-form>

    </div>
  </section>


  <!-- location -->
  <section id="add-block-4" class="add-panel-block" ng-switch-when="location">
    <div class="disabled-overlay">&nbsp;</div>
    <h1>    
      <img src="images/steps/4.png" alt="4/4" />
      <span>Localisez<br /> votre Point</span>
    </h1>
    <div class="adress-form">
      <div class="adress-find">
        <div class="find1">Entrez l'adresse</div> <span>ou</span>
        <div class="find2">Déplacez le point</div> <span>ou</span>
        <div class="find3">Géolocalisez-vous</div>
      </div>
        <p>
          <input type="text" name="address" ng-model="marker.position.address" placeholder="Adresse du point ..." />
          <button ng-click="lookupAddress()" class="search"><img src="images/adress_search.png" alt="Chercher" /></a>
          <button ng-click="geolocateMarker()" class="search"><img src="images/adress_search.png" alt="geoloc" /></a>
        </p>
        <button ng-disabled="!marker.position.coordinates" ng-click="submitForm()" class="valid">Valider la position</button>
    </div>
  </section>

  </form>
</div>
<script type="text/javascript">
    //$('.add-panel-block').hide();
    $('#toolbar .temp a').click(function(){
      panel = $(this).attr('data-target');
      $('.add-panel-block').hide();
      $(panel).show();
    });
</script>
