<article class="leaflet-popup" ng-show="!isLoading">
  <section class="card">
    <header>
      <a href="javascript:void(0)" class="card-like" title="like"><img src="/images/card_like.png" alt="support" /></a>
      <div class="minipic">
        <img height="184" width="248" ng-src="{{ MEDIA_URI }}{{ marker.data.picture }}" alt="{{ marker.data.title }}"/>
      </div>
      <div class="author">
        <img src="/images/_TEMP/dave.png" alt="Dave" />
        <em>{{ marker.data.created_by.username }}</em>
      </div>
    </header>
    <div class="inner">
      <a ng-href="#/{{ $stateParams.slug }}/marker/{{ marker.data.id }}">
	<span class="date">{{ marker.data.created_on | fromNow }}</span>
	<h1>{{ marker.data.title }}</h1>
	<p>
          Grand place, centre ville <br />
          59000 Lille.
	</p>
      </a>
    </div>
    <footer>
      <ul class="icons">
        <li class="supports" title="29 supports">29</li>
        <li class="comments" title="12 commentaires">12</li>
        <li class="polls" title="2 sondages">2</li>
      </ul>
    </footer>
  </section>
</article>

