<article>
  <section class="card">
    <header>
      <a href="javascript:void(0)" class="card-like" title="je supporte"><img src="/images/card_like.png" alt="support" /></a>
      <div class="minipic">
        <svg height="184" width="248" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
          <image mask="url(#mask1)" height="184" width="248" xlink:href="/images/_TEMP/prima.jpg"/>
        </svg>
      </div>
      <div class="bigpic">
        <!--<svg height="282" width="378" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
          <image mask="url(#mask2)" height="282" width="378" xlink:href="/images/_TEMP/prima_big.jpg"/>
        </svg>-->
        <img src="/images/_TEMP/prima_big.jpg" alt="" />
      </div>
      <div class="author">
        <img src="/images/_TEMP/dave.png" alt="Dave" />
        <em>Davy Grohlton</em>
        <span>Jeudi 23 Avril 2013</span>
      </div>
    </header>
    <div class="inner">
      <span class="date">Il y a 2 jours</span>
      <h1>Dégradation de plusieurs lampadaires</h1>
      <p>
        Grand place, centre ville <br />
        59000 Lille.
      </p>
      <ul class="social">
        <li><a href="#" title="partager sur twitter"><img src="/images/ico_twitter.png" alt="twitter" /></a></li>
        <li><a href="#" title="partager sur facebook"><img src="/images/ico_fb.png" alt="facebook" /></a></li>
        <li><a href="#" title="partager sur google plus"><img src="/images/ico_google.png" alt="google plus" /></a></li>
      </ul>
    </div>
    <footer>
      <ul class="icons">
        <li class="supports" title="29 supports">29</li>
        <li class="comments" title="12 commentaires">12</li>
        <li class="polls" title="2 sondages">2</li>
      </ul>
      <div class="supports-list">
        <span>4 supports</span>
        <ul>
          <li><img src="/images/_TEMP/dave.png" alt="Dave" /></li>
          <li><img src="/images/_TEMP/dave.png" alt="Dave" /></li>
          <li><img src="/images/_TEMP/dave.png" alt="Dave" /></li>
          <li><img src="/images/_TEMP/dave.png" alt="Dave" /></li>
        </ul>
      </div>
    </footer>
  </section>
  <div class="widgets">
    <div class="slidee">
      <section class="description">
        <div class="title">Dégradation de plusieurs lampadaires</div>
        <div class="inner">
          <p>
            Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
          </p>
        </div>
      </section>
      <section class="forum">
        <img src="/images/_TEMP/forum.jpg" alt="" />
      </section>
    </div>
  </div>
</article>
<script src="/scripts/vendor/script.js"></script>
