<article class="leaflet-popup" ng-show="!isLoading">
  <section class="card">
    <header>
      <!-- 
      <a href="javascript:void(0)" class="card-like" title="like"><img src="/images/card_like.png" alt="support" /></a>
    -->
      <div class="minipic">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="248" height="184">
        <image alt="{{ marker.data.title }}" xlink:href="/images/_TEMP/prima.jpg" width="248" height="184" mask="url(#mask1)">
        </svg>
      </div>
      <div class="author">
        <img src="/images/_TEMP/dave.png" alt="Dave" />
        <em>{{ marker.data.created_by.username }}</em>
      </div>
    </header>
    <div class="inner">
      <a ui-sref="map.marker_detail({map: $stateParams.slug, markerId: marker.data.id})">
	<span class="date">{{ marker.data.created_on | fromNow }}</span>
	<h1>{{ marker.data.title }}</h1>
	<p>
          FIXME Grand place, centre ville <br />
          59000 Lille.
	</p>
      </a>
    </div>
    <!--
    <footer>
      <ul class="icons">
        <li class="supports" title="XX supports">XX</li>
        <li class="comments" title="XX commentaires">XX</li>
        <li class="polls" title="XX sondages">XX</li>
      </ul>
    </footer>
    -->
  </section>
</article>

