<!-- ADD disabled class on add-panel-block to activate the overlay -->
<div id="add-panel">
  <ng-form name="new_marker_form">

  <section id="add-block-1" class="add-panel-block">
    <div class="disabled-overlay">&nbsp;</div>
    <h1>    
      <img src="images/steps/1.png" alt="1/4" />
      <span>Qualifiez votre<br /> point d'intérêt</span>
    </h1>
    <div class="points-list">
      <ul>
        <li class="categ">
          <div class="top"><a href="#">Les plus utilisés</a></div>
          <div class="inner">
            <ul>
              <li class="point1"><input type="radio" ng-model="form_data.category" name="point" val="1" id="point1" /><label for="point1">Point 1</label></li>
              <li class="point1"><input type="radio" ng-model="form_data.category" name="point" val="2" id="point2" /><label for="point2">Point 2</label></li>
              <li class="point1"><input type="radio" ng-model="form_data.category" name="point" val="3" id="point3" /><label for="point3">Point 3</label></li>
              <li class="point1"><input type="radio" ng-model="form_data.category" name="point" val="4" id="point4" /><label for="point4">Point 4</label></li>
              <li class="point1"><input type="radio" ng-model="form_data.category" name="point" val="5" id="point5" /><label for="point5">Point 5</label></li>
              <li class="point1"><input type="radio" ng-model="form_data.category" name="point" val="6" id="point6" /><label for="point6">Point 6</label></li>
              <li class="point1"><input type="radio" ng-model="form_data.category" name="point" val="7" id="point7" /><label for="point7">Point 7</label></li>
            </ul>
          </div>
        </li>
      </ul> 
      <div class="seemore">
        <a href="#">Voir tous les points</a>
      </div>
    </div>
  </section>

  <section id="add-block-2" class="add-panel-block">
    <div class="disabled-overlay">&nbsp;</div>
    <h1>    
      <img src="images/steps/2w.png" alt="2/4" />
      <span>Ajouter votre<br /> photo ou vidéo</span>
    </h1>

    <div ng-show="!captureInProgress && !previewInProgress" class="photo-widget">
      <ul>
        <!-- <li><button ng-click="grabCamera()">Prendre une photo</button></li> -->
        <li><input type="file" accept="image/*;capture=camera" name="picture" onchange="angular.element(this).scope().pictureChanged(this)"></input></li>
      </ul>
      <div class="skippy">
	<button ng-click="skipPicture()">Passer cette étape</button>
      </div>
    </div>

    <div ng-show="{{ marker.picture }}" class="photo-selected">
        <div class="preview">
          <img src="images/_TEMP/photo.jpg" id="selected-photo" alt="" />
        </div>
        <a href="#" class="trash"><img src="images/trash_bt.png" alt="effacer" /></a>
    </div>

    <div ng-show="captureInProgress" class="photo-selected">
        <div class="preview">
	  <video id="video"></video>
	  <canvas id="canvas"></canvas>
        </div>
        <button ng-click="cancelGrabCamera()" class="discard">Annuler</a>
        <button ng-click="takePicture()" class="accept">Valider</button>
    </div>
  </section>

  <section id="add-block-3" class="add-panel-block">
    <div class="disabled-overlay">&nbsp;</div>
    <h1>    
      <img src="images/steps/3.png" alt="3/4" />
      <span>Entrez votre<br /> titre et description</span>
    </h1>
    <div class="info-form">
        <input type="text" name="title" ng-model="marker.title" placeholder="Titre de votre poi ..." />
        <textarea name="desc" ng-model="marker.description" placeholder="Description de votre poi"></textarea>
        <button ng-click="" class="locate">Localiser votre Poi</button>
    </div>
  </section>

  <section id="add-block-4" class="add-panel-block">
    <div class="disabled-overlay">&nbsp;</div>
    <h1>    
      <img src="images/steps/4.png" alt="4/4" />
      <span>Localisez<br /> votre Point</span>
    </h1>
    <div class="adress-form">
      <div class="adress-find">
        <a class="find1" href="#">Entrez l'adresse</a> <span>ou</span>
        <a class="find2" href="#">Déplacez le point</a> <span>ou</span>
        <button class="find3" ng-click="geolocateMarker()">Géolocalisez-vous</a>
      </div>
        <p>
          <input type="text" name="title" placeholder="Adresse du point ..." />
          <a href="#" class="search"><img src="images/adress_search.png" alt="Chercher" /></a>
        </p>
        <button ng-click="submitForm()" class="valid">Valider la position</button>
    </div>
  </section>
  </form>
</div>
<script type="text/javascript">
    $('.add-panel-block').hide();
    $('#toolbar .temp a').click(function(){
      panel = $(this).attr('data-target');
      $('.add-panel-block').hide();
      $(panel).show();
    });
</script>
