@import "compass/css3/font-face";
@import "koan_common";

.leaflet-container {
    background-color: white;
    background: url("../../images/koan/montagnes.jpg") left bottom no-repeat, url("../../images/koan/grille.jpg") center center no-repeat;
}

#main-title {
    font-family: "Fringant Grotesk" !important;
    
    z-index: 1000;
    position: absolute;
    right: 50%;
    width:418px;
    margin-right:-175px;
    top: 10px;
    padding: 5px;
    padding-top:10px;
    background-color: white;
}


#map-title {

    z-index: 1000;
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 10px;
    background-color: white;
    background-image: url("../../images/koan/bloc.png");
    background-repeat: no-repeat;
    background-position: 15px 13px;
    width:200px;
    border: 4px dashed $koan_yellow;
}

#map-title h1 {
    font-size: 1.2em;
    float: left;
    margin-top:36px;
    width:180px;
}


