config = {
    templateBaseUrl: '/views/',
    bucket_uri: 'http://localhost:8000/bucket/upload/',
    useHtml5Mode: false,
    media_uri: 'http://localhost:8000',
    rest_uri: "http://localhost:8000/api/v0",
    rootUrl: "http://localhost:8082/",
    applicationAlias : "#/",
    homeStateName: 'index',
    loginBaseUrl: 'http://localhost:8000/api/v0'
}
